body {
	background:url(../img/shops.jpg) no-repeat center center fixed; opacity:0.8;
	background-size:cover !important;
}

.logo {
        margin:1% 0 0 1%;
}

.main-header {
        margin: 0, auto;
        color:#458B00;
        opacity:1.0;
        text-align:center;
        font-size:2em;
	position: absolute;
   	top: 50%;
    	left: 50%;
	background:black;
    	transform: translateX(-50%) translateY(-50%);
}

.secondary-header {
	margin: 0, auto;
	font-size:1.5em;
	float:right;
	color:red;
	margin-right:0.5em;
}

nav, ul {
        padding:10px;
        text-decoration:none;
}

nav, ul, li {
        display:inline-block;
}

nav, ul, li a {
        text-decoration:none;
}

#metalink {
        float:right;
}

.main-nav{
        font-family: 'Alegreya', serif;
        line-height:1.5em;
        font-size:1.5em;
}

.main-nav a {
        padding-right:35px;
}

nav ul li:first-child a{
        padding-left:20px;
}
